.tile {
  border: 1px solid white;
  background-color: lightgrey;
  box-sizing: border-box;
  position: absolute;
  display: table;
}

.tile-label {
  display: table-cell;
  vertical-align: middle;
}

.tile-label-text {
  display: block;
  text-align: center;
}

.tile-info {
  padding: 0.5em;
  line-height: 0;
  background-color: white;
  border-radius: 4px;
}

.done {
  background-color: var(--color-success);
}

.working {
  background-color: var(--color-working_orange);
}

.stuck {
  background-color:var(--color-error);
}