.tile {
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    display: grid;
    place-items: center;
}

.tile-label {
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;
    width: 60%;
    text-align: center;
    white-space: nowrap;
    color: white;
}